@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(90deg, #1D1D1D, #020202);
    color: #0bc7be;
}